body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    font-size:24px;
    background-color: #DFD4D4;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(346.22deg, rgba(160, 119, 99, 0.81) -48.23%, rgba(73, 132, 107, 0.81) 101.09%);
    height: 100px;
}

nav a{
    text-decoration: none;
    color: #DFD4D4;
}

nav a:hover{
    color: Black;
}

header{
    background-image: url("https://learn.logikaschool.com/uploads/student/1711308/66619c6f10550.png");
    background-size:cover;
    height: 600px;
}

.header_img{
    text-align: center;
    font-size: 80px;
}

.header_img h1{
    font-family:"Ruthie", cursive;
    font-size: 120px;
}


.header_img p{
    text-shadow: -5px -5px 5px #FFE7FB;
}

.pro_nas{
    display: flex;
    justify-content: space-between;
}

.text{
    font-size:32px;
    text-align: justify;
     width:70%;
}

h1{
    text-align: center;
    color:#152920;
}

main h1{
    background-color:#498463;
    padding: 20px;
    color: #FFE7FB;
}


.catalog{
    max-width:1300px;
    margin:0px auto;
    flex-wrap:wrap;
    display: flex;
    justify-content: space-between;
    color:white;
}

.tovar{
    margin:15px;
    width: 300px;
    padding:50px;
    border-radius:20px;
    background-color:#6D9D88;
}

.tovar h1{
    text-align: left;
}

.tovar a{
    text-align: center;
    background-color:#335E4C;
    padding: 10px 50px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
}
.tovar img{
    width: 300px;
}
.map{
    display: flex;
    justify-content: center;
}

.vidhuki{
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
}

.vidhuk{
    color:#335E4C;
    display: flex;
    padding: 20px;
    justify-content: center;
    width: 800px;
}

.vidhuk img{
    width: auto;
    height: auto;
    margin: auto 20px auto 20px;
    border-radius:200px;
}

footer{
    margin-top:50px;
    color:#FFE7FB;
    font-size:40px;
    background-color: #49846B;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.social img{
    width: 40px;
}

.social{
    text-align: right;
}
