body {
    font-family: Roboto Mono;
    background-color:green;
    text-align: justify;
    width: 100%;
}
h1{
    text-align: center;
    background-color: rgba(55, 19, 19, 0.557);
}

.taras2{
    text-align: center;
    background-color: rgba(55, 19, 19, 0.557);
}
.taras3{
    text-align: center;
    background-color: rgba(55, 19, 19, 0.557);
}
